.contact-display {
    display: none;
}

.contact-display-visible {
    background-color: white;
    display: flex;
    flex-direction: row;
}

/* @media(min-width: 1000px) {
    .contact-display-visible {
        margin-top: 60px;
    }
} */

.contact-list {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    right: 20px;
    position: fixed;
    overflow-y: auto;
    z-index: 999;
}

@media(min-width: 1000px) {
    .contact-list {
        top: 61px;
    }
}

.let-connect {
    font-family: arial;
    font-size: large;
    font-style: italic;
    margin: 10px 10px 25px 10px;
    color: grey;
    opacity: 0.8;
}

.contact-icon {
    height: 50px;
    width: 50px;
}

.contact-icon-side {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 10px 20px 10px;
    row-gap: 5px;
}

.whats-app,
.insta-gram,
.linked-in,
.git-hub,
.twitter-x,
.e-mail,
.phone-call,
.face-book {
    position: relative;
}

.tool-tip {
    position: absolute;
    font-family: Arial;
    font-size: 8px;
    font-weight: bold;
    color: greenyellow;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 5px;
    top: -20px;
    left: -7px;
    white-space: nowrap;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

.whats-app:hover .tool-tip,
.insta-gram:hover .tool-tip,
.linked-in:hover .tool-tip,
.git-hub:hover .tool-tip {
    opacity: 0.5;
    transition: 0.3s;
}

.tool-tips {
    position: absolute;
    font-family: Arial;
    font-size: 8px;
    font-weight: bold;
    color: greenyellow;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 5px;
    bottom: -15px;
    left: -7px;
    white-space: nowrap;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

.twitter-x:hover .tool-tips,
.e-mail:hover .tool-tips,
.phone-call:hover .tool-tips,
.face-book:hover .tool-tips {
    opacity: 0.5;
    transition: 0.3s;
}